---
import { Image } from "astro:assets";
import { ChevronLeft, ChevronRight, CirclePause, CirclePlay } from "lucide-react";

import Link from "@/components/link.astro";
import { generateUniqueId } from "@/lib/generate-unique-id";
import { getImageImport } from "@/lib/get-image-import";

interface Props {
	title: string;
	slides: ReadonlyArray<{
		title: string;
		summary: string;
		image: string;
		page: string | null;
	}>;
	delay?: number;
}

const { slides, title } = Astro.props;
const id = generateUniqueId();
---

<image-carousel>
	<div
		aria-roledescription="carousel"
		aria-label={title}
		class="group relative"
		data-carousel
		data-state="paused"
	>
		<div data-controls>
			<div class="absolute left-8 top-8 z-10">
				<button
					class="rounded-md bg-[#00000080] p-2 text-white transition hover:bg-[#000000a0] focus-visible:bg-[#000000a0] focus-visible:outline-white"
					data-control-toggle
					type="button"
				>
					<CirclePause
						aria-label="start"
						className="hidden size-6 group-data-[state=playing]:block"
					/>
					<CirclePlay aria-label="stop" className="hidden size-6 group-data-[state=paused]:block" />
				</button>
			</div>
			<div class="absolute right-8 top-8 z-10">
				<button
					aria-controls={id}
					aria-label="previous"
					class="rounded-md bg-[#00000080] p-2 text-white transition hover:bg-[#000000a0] focus-visible:bg-[#000000a0] focus-visible:outline-white"
					data-control-previous
					type="button"
				>
					<ChevronLeft className="size-6" />
				</button>
				<button
					aria-controls={id}
					aria-label="next"
					class="rounded-md bg-[#00000080] p-2 text-white transition hover:bg-[#000000a0] focus-visible:bg-[#000000a0] focus-visible:outline-white"
					data-control-next
					type="button"
				>
					<ChevronRight className="size-6" />
				</button>
			</div>
		</div>

		<div id={id} aria-live="off" class="relative aspect-[2.5]" data-carousel-items>
			{
				slides.map((slide, index) => {
					return (
						<div
							data-carousel-item
							data-active={index === 0 ? "" : undefined}
							role="group"
							aria-roledescription="slide"
							aria-label="slide"
							class="group relative size-full"
						>
							<Image
								alt=""
								class="size-full object-cover"
								loading={index === 0 ? "eager" : undefined}
								src={getImageImport(slide.image)}
							/>
							<div class="absolute bottom-0 grid w-full grid-cols-[1fr_auto] gap-4 gap-y-2 border-t-4 bg-black/80 p-4 text-white">
								<div>
									<h2 class="text-xl font-bold">
										<Link class="focus-visible:outline-white">{slide.title}</Link>
									</h2>
									<hr class="my-1 border" />
									<div>{slide.summary}</div>
								</div>
								{slide.page ? (
									<footer class="mb-1 self-end">
										<Link href={`/${slide.page}`} class="h-fit rounded-md border p-2">
											Read more
										</Link>
									</footer>
								) : null}
							</div>
						</div>
					);
				})
			}
		</div>
	</div>
</image-carousel>

<script is:inline>
	/**
	 * In the initial html, all slides are visible, so they work when javascript is disabled.
	 * Hide them as soon as javascript loads.
	 */
	document.querySelectorAll("[data-carousel-items]").forEach((element) => {
		element.classList.add("overflow-hidden");
	});

	document.querySelectorAll("[data-carousel-item]").forEach((element) => {
		element.classList.remove("relative");
		element.classList.add(
			"absolute",
			"invisible",
			"duration-500",
			"transition-all",
			"data-[active]:opacity-100",
			"opacity-0",
			"data-[active]:visible",
		);
	});
</script>

<script>
	import { assert } from "@acdh-oeaw/lib";

	class ImageCarousel extends HTMLElement {
		connectedCallback() {
			const state = {
				paused: true,
				intent: "auto" as "auto" | "play" | "pause",
				current: 0,
			};

			const root = this.querySelector<HTMLDivElement>("div[data-carousel]");
			const container = this.querySelector<HTMLDivElement>("div[data-carousel-items]");
			const liveRegion = this.querySelector<HTMLDivElement>("div[data-carousel-items]");
			const slides = this.querySelectorAll<HTMLDivElement>("div[data-carousel-item]");
			const toggle = this.querySelector<HTMLButtonElement>("button[data-control-toggle]");
			const previous = this.querySelector<HTMLButtonElement>("button[data-control-previous]");
			const next = this.querySelector<HTMLButtonElement>("button[data-control-next]");
			assert(root);
			assert(container);
			assert(liveRegion);
			assert(slides.length);
			assert(toggle);
			assert(previous);
			assert(next);

			function updateSlide() {
				slides.forEach((slide, index) => {
					// slide.hidden = index !== state.current;
					if (index === state.current) {
						slide.dataset.active = "";
					} else {
						delete slide.dataset.active;
					}
				});
			}

			updateSlide();

			function onPreviousSlide() {
				state.current = state.current > 0 ? state.current - 1 : slides.length - 1;
				updateSlide();
			}

			function onNextSlide() {
				state.current = state.current < slides.length - 1 ? state.current + 1 : 0;
				updateSlide();
			}

			previous.addEventListener("click", onPreviousSlide);
			next.addEventListener("click", onNextSlide);

			let timer: ReturnType<typeof setInterval> | null = null;
			const delay = Astro.props.delay ?? 5000;

			function play(force?: boolean) {
				if (force) {
					state.intent = "play";
				}
				state.paused = false;
				timer = setInterval(onNextSlide, delay);
				root!.dataset.state = "playing";
				liveRegion!.setAttribute("aria-live", "off");
			}

			function pause(force?: boolean) {
				if (force) {
					state.intent = "pause";
				}
				state.paused = true;
				if (timer) clearInterval(timer);
				timer = null;
				root!.dataset.state = "paused";
			}

			function onTogglePlayState() {
				if (state.paused) {
					play(true);
				} else {
					pause(true);
				}
			}

			toggle.addEventListener("click", onTogglePlayState);

			function hasReducedMotion() {
				return window.matchMedia("(prefers-reduced-motion: reduce)").matches;
			}

			function autoplay() {
				if (state.intent === "play" || (state.intent === "auto" && !hasReducedMotion())) {
					play();
				}
			}

			function onMouseEnter() {
				pause();
			}

			function onMouseLeave() {
				autoplay();
			}

			container.addEventListener("mouseenter", onMouseEnter);
			container.addEventListener("mouseleave", onMouseLeave);

			function onFocusIn(event: FocusEvent) {
				const elementLosingFocus = event.relatedTarget as Element | null;
				if (elementLosingFocus == null || !root!.contains(elementLosingFocus)) {
					pause();
				}
			}

			function onFocusOut(event: FocusEvent) {
				const elementReceivingFocus = event.relatedTarget as Element | null;
				if (elementReceivingFocus == null || !root!.contains(elementReceivingFocus)) {
					autoplay();
				}
			}

			root.addEventListener("focusin", onFocusIn);
			root.addEventListener("focusout", onFocusOut);

			autoplay();
		}
	}

	customElements.define("image-carousel", ImageCarousel);
</script>

<style is:global>
	iamge-carousel {
		display: contents;
	}
</style>
