---
import MainContent from "@/components/main-content.astro";
import PageCard from "@/components/page-card.astro";
import PageSectionTitle from "@/components/page-section-title.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createCollectionResource } from "@/lib/content/create-resource";
import { getZoteroCollections } from "@/lib/zotero";

const page = await createCollectionResource("pages", locale).read("publications");

const documentTitle = page.data.title;
const { content, image, title } = page.data;
const { default: Content } = await page.compile(content);

const collections = await getZoteroCollections();
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent search="exclude">
		<PageCard image={image}>
			<PageTitle>{title}</PageTitle>
			<div class="prose">
				<Content />
			</div>
			{
				collections.map((collection) => {
					return (
						<>
							<PageSectionTitle id={collection.label.toLowerCase()}>
								{collection.label}
							</PageSectionTitle>
							<ul class="prose" role="list">
								{collection.data.map((item) => {
									return <li set:html={item.bib} />;
								})}
							</ul>
						</>
					);
				})
			}
		</PageCard>
	</MainContent>
</PageLayout>
