---
import Card from "@/components/content/card.astro";
import MainContent from "@/components/main-content.astro";
import PageCard from "@/components/page-card.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createCollectionResource } from "@/lib/content/create-resource";

const page = await createCollectionResource("pages", locale).read("newsletters");

const documentTitle = page.data.title;
const { content, image, title } = page.data;
const { default: Content } = await page.compile(content);

const newsletters = await createCollectionResource("newsletters", locale).all();
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent search="exclude">
		<PageCard image={image}>
			<PageTitle>{title}</PageTitle>
			<div class="prose">
				<Content />
			</div>
			<ul class="grid gap-y-12" role="list">
				{
					newsletters.map((newsletter) => {
						const { title, summary } = newsletter.data;

						return (
							<li>
								<Card href={`/newsletters/${newsletter.id}`} title={title} summary={summary} />
							</li>
						);
					})
				}
			</ul>
		</PageCard>
	</MainContent>
</PageLayout>
