---
import Card from "@/components/content/card.astro";
import MainContent from "@/components/main-content.astro";
import PageCard from "@/components/page-card.astro";
import PageTitle from "@/components/page-title.astro";
import { defaultLocale as locale } from "@/config/i18n.config";
import PageLayout from "@/layouts/page-layout.astro";
import { createResource } from "@/lib/content/create-resource";

const page = await createResource("pages", locale).read("deliverables");

const documentTitle = page.data.title;
const { content, image, title } = page.data;
const { default: Content } = await page.compile(content);

const conferenceProceedings = await createResource("conferenceProceedings", locale).all();
---

<PageLayout locale={locale} title={documentTitle}>
	<MainContent>
		<PageCard image={image}>
			<PageTitle>{title}</PageTitle>
			<div class="prose">
				<Content />
			</div>
			<ul class="grid gap-y-12" role="list">
				{
					conferenceProceedings.map((conferenceProceeding) => {
						const { title, summary } = conferenceProceeding.data;

						return (
							<li>
								<Card
									href={`/conference-proceedings/${conferenceProceeding.id}`}
									title={title}
									summary={summary}
								/>
							</li>
						);
					})
				}
			</ul>
		</PageCard>
	</MainContent>
</PageLayout>
